<html>
<body>
  <div class="container">
    <div class="jumbotron">
      <p>In this section, we introduce a brief review of recent small satellite missions
      proposed or launched by several organizations and space agencies applying
      formation flying concepts. Table 2.2 shows some of the important multiple
      small satellite missions which are designed and developed by various space
      agencies and organizations.</p>
      <ul>
        <li>GRACE - The GRACE (Gravity Recovery and Climate Experiment) mission i
          s a joint venture of National Aeronautics and Space Administration (NASA)
          in the United States and Deutsche Forschungsanstalt fr Luft und Raumfahrt (DLR)
          in Germany which was launched in 2002. The system consists of two
          satellites, each of 480 kg, separated by 220 km in a polar orbit
          500 km above the Earth. The primary objective of the mission is to
          accurately map the variations in Earth’s magnetic field. The spacecrafts
          are still in operation and expected to continue through at least 2015. The
          telemetry tracking and command system is using S-band frequencies for
          uplink, downlink, and crosslink communications</li>
        <li></li>
        <li></li>
      </ul>

    </div>
  </div>
</body>
</html>
