<div class="center jumbotron">
  <h1>Technology Roadmap for Small Satellite Communications</h1>

  <p> Small satellite systems enable whole new class of missions for navigation,
    communications,  remotesensing  and  scientific  research  for  both
    civilian  and  military  purposes.   As  individual  spacecraft  are
    limited by the size,  mass and power constraints, mass-produced
    small satellites in large constellations or clusters could be useful in
    many science missions such as gravity mapping, tracking of forest fires,
    finding water resources, etc by providing improved  spatial  and  temporal
    resolution of the target. Future space missions  are  envisioned to become
    more complex and operate farther from Earth which will need to support
    autonomous operations with minimal human intervention, There will be a need to
    configure and maintain dynamic routes, manage intermediate nodes,
    and reconfigure themselves to achieve mission objectives. Hence,
    inter-satellite communication is a key aspect when satellites fly in formation.
    We present the various researches being conducted in the small satellite
    community for implementing inter-satellite communications based on the Open
    System Interconnection (OSI) model, in particular the various design
    parameters applicable to the first three layers of the OSI model,
    i.e., physical, data link and network layer. </p>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
