@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-image: url(/assets/background_space.jpg);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: justify;
}

.center h1 {
  margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

// h2 {
//   font-size: 1.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
//   color: #777;
// }

p {
  font-size: 0.5em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

.panel {
  margin-top: 50px;
}

.panel-heading {
  padding-top: 10px;
  h1 {
    font-size: 2.5em;
  }
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.jumbotron {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    align: left;
  }
  p {
    text-align: justify;
  }
  li {
    font-size: 21px;
    font-weight: 200;
  }
  a {
    color: #333333;
  }
}

.image_dss {
  margin-left: 250px;
}

figcaption {
  margin-left: 250px;
  font-style: italic;
  color: #777;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
